.register-space-card{

position:relative;

border-radius:35px;

background:rgba(8,12,35,.72);

backdrop-filter:blur(22px);

border:1px solid rgba(147,51,234,.35);

box-shadow:

0 0 45px rgba(168,85,247,.25),

0 0 120px rgba(6,182,212,.15);

}







/* ---------- Gender ---------- */

.space-section-title{
    color:#c4b5fd;
    font-size:15px;
    font-weight:600;
    margin-bottom:8px;
    text-align:center;
    letter-spacing:1px;
}

.space-gender-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:18px;

    border-radius:22px;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(168,85,247,.35);

    transition:.35s;

    backdrop-filter:blur(14px);
}

.space-gender-card:hover{
    transform:translateY(-6px) scale(1.04);

    border-color:#37edd1;

    box-shadow:
    0 0 18px #37edd177,
    0 0 35px #8b5cf644;
}

.space-gender-card:has(input:checked){
    border:2px solid #37edd1;

    background:linear-gradient(
    135deg,
    rgba(55,237,209,.18),
    rgba(139,92,246,.18));

    box-shadow:
    0 0 20px #37edd1,
    0 0 45px #8b5cf6;
}

.space-label{
    color:white;
    font-weight:600;
    letter-spacing:1px;
}


/* ---------- Button ---------- */

.space-register-btn{
    height:58px !important;

    border-radius:18px !important;

    background:
    linear-gradient(
    90deg,
    #5b21b6,
    #2563eb,
    #06b6d4) !important;

    border:none !important;

    font-size:17px !important;

    font-weight:700 !important;

    letter-spacing:1px;

    transition:.35s;
}

.space-register-btn:hover{

    transform:translateY(-4px);

    box-shadow:
    0 0 18px #37edd1,
    0 0 40px #8b5cf6;
}
.respace{
    font-size: clamp(32px, 10vw, 70px);
    line-height: 1.3;
    padding-bottom: 6px;
    font-weight:800;

  background: linear-gradient(
90deg,
#8b5cf6 0%,
#8b5cf6 20%,

#22d3ee 40%,

#67e8f9 40%,
#67e8f9 60%,

#ec4899 80%
);

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}